.table {
    margin: 0 auto; 
    width: 70%;
}
h1 {
  text-align: center;
    color: solid red;
    font-style: bold;
    font-weight: 600;
  }
table,
td {
  border: 2px solid black;
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: x-large;
  font-weight: bolder;
}



th {
  color: #fff;
  border: 2px solid black;
  font-size: x-large;
  text-align: center;
  padding: 5px;
  background-color: hsl(60, 3%, 14%);

}
table {
  width: 75%;
  height: 100%;
  border-collapse: collapse;

}
td {
  padding: 5px;
  background-color: hsl(0, 0%, 0%);
}
tr:hover td{
  background-color: hsl(45, 91%, 45%);  
}
